<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID"
         version="2.5">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-roleName>currentFilter</filter-roleName>
        <filter-class>project.filter.CurrentFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-roleName>currentFilter</filter-roleName>
        <servlet-roleName>Controller</servlet-roleName>
    </filter-mapping>
    <servlet>
        <display-roleName>Controller</display-roleName>
        <servlet-roleName>Controller</servlet-roleName>
        <servlet-class>project.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-roleName>Controller</servlet-roleName>
        <url-pattern>/Controller/*</url-pattern>
    </servlet-mapping>
</web-app>
